*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: 'open sans',sans-serif,Helvetica;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 400px;
}

.action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.layout {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: [navbar-s] 56px [navbar-e image-e] 400px [image-end];
      grid-template-rows: [navbar-s] 56px [navbar-e image-e] 400px [image-end];
  -ms-grid-columns: [s] 1fr [e];
      grid-template-columns: [s] 1fr [e];
}

.layout__navbar {
  grid-row: navbar-s/navbar-e;
  grid-column: s/e;
}

.layout__image-container {
  grid-row: image-s/ image-e;
  grid-column: s/e;
}

.image-container img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.navbar {
  background: #1c2938;
  color: #96a7b5;
}

.navbar_logo {
  color: #1DA1F2;
}

.navbar_tweet {
  background: #1DA1F2;
  color: white;
}

.navbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: [actions-s] 1fr [actions-e] 300px [logo-s] 50px [logo-e] 150px [search-s] 1fr [search-e profile-s] 50px [profile-e tweet-s] 100px [tweet-e];
      grid-template-columns: [actions-s] 1fr [actions-e] 300px [logo-s] 50px [logo-e] 150px [search-s] 1fr [search-e profile-s] 50px [profile-e tweet-s] 100px [tweet-e];
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar_actions {
  grid-column: actions-s/actions-e;
}

.navbar_logo {
  grid-column: logo-s/logo-e;
  color: rgba(74, 147, 231, 0.822);
  font-size: 20px;
}

.navbar_search {
  -ms-grid-column-align: end;
      justify-self: end;
  grid-column: search-s/search-e;
}

.navbar_profile {
  grid-column: profile-s/profile-e;
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 32px;
  width: 32px;
}

.navbar_tweet {
  grid-column: tweet-s/tweet-e;
}

.actions {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  width: 400px;
}

.actions .action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.actions .action_icon {
  margin: 0px 4px;
}

.search {
  display: -ms-grid;
  display: grid;
}

.search input,
.search i {
  grid-row: 1/-1;
  grid-column: 1/-1;
}

.search input {
  padding: 4px;
  height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
}

.search i {
  padding: 4px;
  padding-right: 6px;
  -ms-grid-column-align: end;
      justify-self: end;
  line-height: 1.3;
}
/*# sourceMappingURL=main.css.map */