
@import "base";
@import "variable";
@import "layout";
@import "navbar";



.actions{
    // display: flex;
    // justify-content: space-around;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:10px;
    width: 400px;
    height: 100%;
    
  
  .action{
    padding:0 2px;
    padding-bottom: 3px;


    font-weight: 600;
    border-bottom: 0px solid transparent;
    

    display: flex;
    flex-direction: row;
    width: auto;
    align-items: center;
    justify-items:center;
    height: 100%;
    
    
    &_icon{
        margin-right:2px;
    }
    &_text{
        font-size: 13px;
    }
    transition: all .15s ease-in-out;
    &:hover{
        border-color: $color-primary;
        border-width: 2px;
        padding-bottom: 1px;
        color: $color-primary;
    }

  }
}
.search{
    // margin-right:30px;
    display: grid;
    input,
    i{
        grid-row: 1/-1;
        grid-column: 1/-1;

    }
    input{
        // padding: 4px;
        height: 30px;
        box-sizing: border-box;
        border-radius: 15px;

        background:$color-search-bg;
        border:1px solid $color-search-border;
        color: white;
        padding: 8px 8px 8px 10px;
        &::placeholder{
            color: $color-text;
        }
        transition: all .15s ease-in-out;
        &:focus{
            border-width: 2px;
            border-color: $color-primary;
        }
        

    }
    i{
        padding: 3px;
        padding-right: 4px;
        justify-self: end;
        line-height: 1.3;

    }
}