.navbar{
    background: $color-secondary;
    color: $color-text;
    &_logo{
        color: $color-primary;
    }
    &_tweet{
        background: $color-primary;
        color: white;
    }
}


.navbar{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: [actions-s] 1fr [actions-e] 300px [logo-s] 50px [logo-e]150px [search-s] 1fr [search-e profile-s] 50px[profile-e tweet-s] 100px[tweet-e] ;

    justify-items: center;
    align-items: center;

    &_actions  {
        grid-column:actions-s/actions-e;
        
    }
    &_logo{
        grid-column:logo-s/logo-e;
        color: rgba(74, 147, 231, 0.822);
        font-size: 20px;

    }
    &_search{
        justify-self: end;
        grid-column:search-s/search-e;

    }
    &_profile{
        grid-column:profile-s/profile-e;
         border-radius: 15px;
            object-fit:cover;
            height: 32px;
            width: 32px;

        

    }
    &_tweet{
        grid-column:tweet-s/tweet-e;

    }
    
}